*{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    margin:0;
    padding: 0;
    background: white;

}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    line-height: 80px;
    float:left;
}

nav{
    float: right;
    line-height: 80px;
}
nav a:link{
    text-decoration: none;
    margin-right: 28px;
    color: #65300a;

}

nav a:hover{
    text-decoration: underline;
    
}

nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: #6b350e;

}

.ikon{
    margin-right: 7px;
    font-size: 20px;
    font-weight: bolder;
}

#anasayfa{
    height: 600px;
    background-image: url("../img/foto3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 600px;
    background-color:black;
    opacity: 0.40
}

#icerik{
    position: absolute;
    top:75%;
    left:55%;
    transform: translate(-1%,-1%);
    color:#ffebcd;
    font-size: 30px;
    text-shadow: 0px 3px 2px;
    font-weight: 600;
}

#logo{
    width: 50%;
    top:60%;
}

#kategori-dropdown {
    position: relative;
    display: inline-block;
}

#kategori-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
}

#kategori-dropdown:hover #kategori-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3px;
    display: block;
}


#kategori-dropdown-content a{
    color:#56290a;
    padding:2px 7px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    vertical-align: middle;
}

#kategori-dropdown-content a i{
    margin-right: 5px;
    vertical-align: middle;
    line-height: 0.8;
}

.ikon1{
    font-size: 16px;
}
 
 
#upload-form {
    text-align: center;
    margin-top: 2px;
}

#file-input {
    display: none;
    color: #c4b9a3;

}

#file-label {
    background-color: #654300;
    color: rgb(215, 201, 182);
    padding: 10px;
    cursor: pointer;
    margin-top:2px ;
    border-radius: 7px;
    display: inline-block;
    
}
